header
  if(username)
    span current user is 
      a#username(href="javascript:void(0)")= username
    &nbsp;
    form(method='get', action='/search').form-search.inline
      input.input-medium.search-query(type="search", name="q")
      button.btn(type="submit") Search
    &nbsp;
    a.btn.btn-primary#upload upload image
    - var marklet_code = '(function(a){if(!window.__IMGKO_LOADED__){var b=a.createElement("script");b.src="{marklet_loader_js}?"+Math.floor(new Date/1e7),a.body.appendChild(b)}})(document)'.replace('{marklet_loader_js}', config.marklet_loader_js)
    &nbsp;
    a.btn#marklet-tool(href='javascript:void(#{marklet_code})') 采集工具
  else
    form(method='post', action='/login').form-inline
      span not login
      &nbsp;
      input.input-small(name='username', placeholder=username)
      button.btn.btn-primary(type='submit') Login

if(locals.foundPair)
  .ko-stage
    each image, i in pkImages
      .pk-image(class='pk-image-#{i}')

        a.btn(href="/#{image.id}/remove")
          i.icon-trash
          | Delete
        .thumbnail
          a(href="/#{image.id}/ko/#{joinImageId(pkImages, image)}")
            img(data-id=image.id, data-url=image.url)

#top-images
  if(locals.hotImages)
    each image in hotImages
      span
        // TODO thumbnail it
        img.thumbnail.thumbnail-small(src=image.tbUrl)

script#upload-content(type="template")
  form(action='/upload', method='post').form-inline
    input(name="imageurl", placeholder="http://")
    button.btn.btn-primary(type='submit') +
  a.btn.btn-danger.close-popover close

script#switch-user(type="template")
  form(method='post', action='/login').form-inline
    input.input-small(name='username', placeholder=username)
    button.btn(type='submit') switch user
  a.btn.btn-danger.close-popover close

script(src='/assets/js/main.js')
