#switch-user
  form(method='post', action='/login').form-inline
    if(username)
      span current user is 
        strong= username
      &nbsp;
      input.input-small(name='username', placeholder=username)
      button.btn(type='submit') switch user
      &nbsp;
      a.btn.btn-primary#upload upload image
    else
      span not login
      &nbsp;
      input.input-small(name='username', placeholder=username)
      button.btn.btn-primary(type='submit') Login

if(locals.imageLeft)
  #left-image.thumbnail
    a(href="/#{imageLeft.id}/ko/#{imageRight.id}")
      img(src=imageLeft.url)

if(locals.imageRight)
  #right-image.thumbnail
    a(href="/#{imageRight.id}/ko/#{imageLeft.id}")
      img(src=imageRight.url)

#top-images
  if(locals.hotImages)
    each image in hotImages
      span
        // TODO thumbnail it
        img.thumbnail.thumbnail-small(src=image.url)

script#upload-content(type="template")
  form(action='/upload', method='post').form-inline
    input(name="imageurl", placeholder="http://")
    button.btn.btn-primary(type='submit') +
  a.btn.btn-danger#close-popover close

script
  (function(){
  var $upload = $('#upload');

      $upload.popover({
          trigger: 'focus'
        , html: true
        , placement: 'bottom'
        , content: function() {
          return $('#upload-content').html().replace('{id}', 123).replace('{title}', 'abcd');
        }
      });

   $upload.live('click', function() {
        $upload.popover('show');
        $('#close-popover').click(function() {
          $upload.popover('hide');
        })
    });

  })();
