!!!
html
  head
    title= title
    if(debug)
      link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    else
      link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/css/style.css')
  body
    .container
      header
        h1 Notes.li
          small 域名不是很贴切，先用着吧。
        if(username)
          ul.nav.nav-pills
            li(class= pageid == 'mark' && 'active'): a(href='/mark') Mark
            li(class= pageid == 'pop' && 'active'): a(href='/pop') Popular
            li(class= pageid == 'ko' && 'active'): a(href='/ko') Knockout

            if(pageid == 'ko')
              h3 Click on the picture you like
        if(username)
          span current user is 
            a#username(href="javascript:void(0)")= username
          &nbsp;
          form(method='get', action='/search').form-search.inline
            input.input-medium.search-query(type="search", name="q")
            button.btn(type="submit") Search
          &nbsp;
          a.btn.btn-primary#upload upload image
          - var marklet_code = '(function(a,b){if(a.__IMGKO_MAIN__)return a.__IMGKO_MAIN__();if(!a.__IMGKO_LOADED__){var c=b.createElement("script");c.src="{marklet_loader_js}?"+Math.floor(new Date/1e7),b.body.appendChild(c)}})(window,document)';
          - marklet_code = marklet_code.replace('{marklet_loader_js}', config.marklet_loader_js)
          &nbsp;
          a.btn#marklet-tool(href='javascript:void(#{marklet_code})') 采集工具
        else
          form(method='post', action='/login').form-inline
            span not login
            &nbsp;
            input.input-small(name='username', placeholder=username)
            button.btn.btn-primary(type='submit') Login

      block content

    script(src='/assets/js/async.min.js')
    if(debug)
      script(src='/assets/js/jquery-1.7.1.min.js')
      script(src='/bootstrap/js/bootstrap-tooltip.js')
      script(src='/bootstrap/js/bootstrap-popover.js')
      script(src='/bootstrap/js/bootstrap-modal.js')
    else
      script(src='http://code.jquery.com/jquery-1.7.2.min.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js')

    script#upload-content(type="template")
      form(action='/upload', method='post').form-inline
        input(name="imageurl", placeholder="http://")
        button.btn.btn-primary(type='submit') +
      a.btn.btn-danger.close-popover close

    script#switch-user(type="template")
      form(method='post', action='/login').form-inline
        input.input-small(name='username', placeholder=username)
        button.btn(type='submit') switch user
      a.btn.btn-danger.close-popover close

    block scripts
